<div  class="bgColor">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card bgColor border-0">
                    <div class="card-image bgColor">
                        <img [attr.src] = "imagePath" class="img-fluid"> 
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-light bg-dark">                   
                    <div class="card-body">
                        <p>My son Stephen and I have watched many movies over the past several years.  Most of them were viewed in a section of our basement we affectionally refer to as the 'Man Cave'.  I found this picture on the internet of one.
                        </p>
                    </div>  

                </div>
            </div>        
        </div>
    </div>
</div>