
<div class="container">
    <ul class="list-group">
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><h3>Title</h3></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0"><h3>Director</h3></li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0"><h3>Year</h3></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie/odyssey">2001 A SPACE ODYSSEY</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">STANLEY KUBRICK</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1968</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie/casablanca">CASABLANCA</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">MICHAEL CURTIZ</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1942</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">BEN-HUR</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">WILLIAM WYLER</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1959</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">DAS BOAT</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">WOLFGANG PETERSEN</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1981</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">MOONSTRUCK</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">NORMAN JEWISON</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1987</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">THE GOOD, THE BAD AND THE UGLY</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">SERGIO LEONE</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1966</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">ONCE UPON A TIME IN THE WEST</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">SERGIO LEONE</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1968</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">PULP FICTION</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">QUENTIN TARANTINO</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1994</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/movie">MODERN TIMES</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">CHARLES CHAPLIN</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1936</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/odyssey">DR. STRANGELOVE</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">STANLEY KUBRICK</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1964</li>
            </div>
        </div>        
    </ul>
</div>