
<div class="container">
    <ul class="list-group">
        <div class="row">
            <div class="col-md-6">
                <li class="list-group-item border-0"><a href="#" routerLink="/odyssey">2001 A SPACE ODYSSEY</a></li>
            </div>
            <div class="col-md-4">
                <li class="list-group-item border-0">STANLEY KUBRICK</li>
            </div>
            <div class="col-md-2">
                <li class="list-group-item border-0">1968</li>
            </div>
        </div>
        <!-- <li class="list-group-item">2001 A SPACE ODYSSEY</li> -->
        <!-- <li class="list-group-item">CASABLANCA</li>
        <li class="list-group-item">BEN HUR</li>
        <li class="list-group-item">DAS BOOT</li>
        <li class="list-group-item">MOONSTRUCK</li>
        <li class="list-group-item">THE GOOD, THE BAD & THE UGLY</li>    
        <li class="list-group-item">ONCE UPON A TIME IN THE WEST</li>
        <li class="list-group-item">PULP FICTION</li>
        <li class="list-group-item">MODERN TIMES</li>
        <li class="list-group-item">DR. STRANGELOVE</li> -->
    </ul>
</div>