<!-- <h1>{{movieTitle}}</h1> -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img [attr.src] = "imagePath" class="noborder"> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-light bg-dark">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nemo est nesciunt dolor consequatur, tempore impedit voluptates obcaecati voluptatibus magnam neque, nihil quod perferendis ipsam, accusantium autem quos iure dicta totam laboriosam voluptatem tenetur atque exercitationem? Ut id soluta recusandae quae neque natus, consequuntur eligendi ullam ea praesentium sit molestiae?
                    </p>
                </div>
            </div>
        </div>
        
    </div>












    
</div>
